.container{
  margin-top: 2em;
}

.card{
  height: 60vh;
  margin: 25px;
  padding: 25px;
}

.center{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.center img {
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;
  height: 15em;
  width: 21em;
  margin: 20px 0px;
}

.add-cart{
  width: 10em;
}


.table-img{
  width: 120px;
}


.cart-btns-cnt{
  display: flex;
  gap: 2em;
  justify-content: end;
}
