<header>
  <div class="navbar">
    <div class="navbar-brand">
      <i class="fas fa-shipping-fast nav-icon" [routerLink]="['/products']">
        <strong>BuyCart</strong>
      </i>
    </div>
    <div class="form-group">
      <input type="text" placeholder="Search products....">
      <span class="fas fa-search search-icon"></span>
    </div>
    <button class="btn-cart" [routerLink]="['/cart']" >
      <i class="fas fa-cart-plus"></i>
      <div class="badge bg-danger">{{totalItem}}</div>
    </button>

  </div>
</header>
